*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    float: right;
    margin: 20px;   
}
li{
    margin-left: 20px;
    font-size: 15px;
}
#logo{
    margin: 20px;
    height: 20px;
}
#button-start{
    background-color: blue;
    color: white;
    height: 30px;
    width: 60px;
    border: 0;
}
#jumbo{
    width: 100%;
    height: 600px;
    background-color: lightskyblue;
    text-align: center;
    align-items: center;
}
#titolo{
    font-size: 50px;
    width: 600px;
    margin-left: 350px;
    padding-top: 50px;
}
#img-jumbo{
    height: 300px;
    width: 600px;
    float: right;
}
#contenitore-jumbo{
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    margin-top: 50px;
    text-align: justify;
    max-width: 900px;
    height: 300px;
}
